spring:
  application:
    name: armedis

# Armedis Configuration - STG Environment
config:
  redis:
    seed: stg-redis-server:17001

server:
  service:
    port: 8080
    instanceCount: 3
  config:
    stat:
      enabled: true
      addContentSection: false
      logging:
        enableed: false
  management:
    loginId: admin
    loginPassword: ${ARMEDIS_ADMIN_PASSWORD}

# Spring Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: 'health,info,metrics,prometheus'
  info:
    git:
      mode: simple
  cloudfoundry:
    skip-ssl-validation: false

# Logging Configuration
logging:
  level:
    root: INFO
    com.github.armedis: INFO
    com.linecorp.armeria: INFO
    com.linecorp.armeria.server.logging.LoggingService: INFO
    com.linecorp.armeria.server.HttpServerHandler: WARN
    com.linecorp.armeria.server.Routers: INFO
    com.linecorp.armeria.logging.access: INFO
    org.springframework.boot.autoconfigure: WARN
    org.springframework.beans: WARN
    io.netty: WARN
    io.netty.handler.codec: WARN
    org.apache.zookeeper: WARN
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n'
    file: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35}:%line - %msg%n'
  file:
    name: logs/armedis.api.${server.service.port}.log
    max-history: 60