<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/armedis.api.${SERVICE_PORT}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/armedis.api.${SERVICE_PORT}.log.%d{yyyy-MM-dd}</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="access_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/access.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-21thread] %-5level %logger{30}:%line - %msg%n</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/access.log.%d{yyyy-MM-dd}
			</fileNamePattern>

			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="com.linecorp.armeria.logging.access" level="INFO">
		<appender-ref ref="access_log" />
	</logger>

	<!-- Remove remote connection close exception! -->
	<logger name="com.linecorp.armeria.server.logging.LoggingService" level="ERROR" />
	<logger name="com.linecorp.armeria.server.HttpServerHandler" level="ERROR" />
	<logger name="com.linecorp.armeria.server.Routers" level="DEBUG" />
	<logger name="org.springframework.boot.autoconfigure" level="DEBUG" />
	<logger name="org.springframework.beans" level="DEBUG" />
	<logger name="com.linecorp.armeria.logging.access" level="ERROR" />

	<logger name="io.netty" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="stdout" />
		<!-- -->
	</root>
</configuration>